/src/components/mint-ui/swipe/*
/src/assets/fonts/iconfont/iconfont.js
/vue.config.js
/server.js
/src/router/*
/src/assessment/*
/src/assets/*
/src/constants/*
/src/dict/*
/src/filters/*
/src/libs/*
/src/resource/*
/routes/*
